[submodule "doubanTop250_scrapy"]
	path = doubanTop250_scrapy
	url = https://github.com/hlf20010508/doubanTop250_scrapy.git
[submodule "doubanTop250_flask"]
	path = doubanTop250_flask
	url = https://github.com/hlf20010508/doubanTop250_flask.git
[submodule "doubanTop250_vue"]
	path = doubanTop250_vue
	url = https://github.com/hlf20010508/doubanTop250_vue.git
